.apparat {
  background-image:url("../imgs/driftkortsymboler/Apparat.png");
  }
.matare {
  background-image:url("../imgs/driftkortsymboler/MatareGenerell.png");
  }
.styrventil {
  background-image:url("../imgs/driftkortsymboler/Styrventil.png");
  }
.pump {
  background-image:url("../imgs/driftkortsymboler/Cirkulationspump.png");
  }
.membran {
  background-image:url("../imgs/driftkortsymboler/Membran.png");
  }
.termometer {
  background-image:url("../imgs/driftkortsymboler/Termometer.png");
  }
.cylinder {
  background-image:url("../imgs/driftkortsymboler/Cylinder.png");
  }
.motor {
  background-image:url("../imgs/driftkortsymboler/Motor.png");
  }
.vvxintern {
  background-image:url("../imgs/driftkortsymboler/VVXInternVisning.png");
  }
.elbatteri {
  background-image:url("../imgs/driftkortsymboler/Elbatteri.png");
  }
.motorstyrventil {
  background-image:url("../imgs/driftkortsymboler/MotorstydStyrventil.png");
  }
.generiskvvx {
  background-image:url("../imgs/driftkortsymboler/VVXgenerisk.png");
  }
.flakt {
  background-image:url("../imgs/driftkortsymboler/Falkt.png");
  }
.roterandevvx {
  background-image:url("../imgs/driftkortsymboler/RoterandeVVX.png");
  }
.vaktex {
  background-image:url("../imgs/driftkortsymboler/VaktEx.png");
  }
.filter {
  background-image:url("../imgs/driftkortsymboler/Filter.png");
  }
.shunt {
  background-image:url("../imgs/driftkortsymboler/Schuntventil.png");
  }
.varmare {
  background-image:url("../imgs/driftkortsymboler/Varme.png");
  }
.luftfuktare {
  background-image:url("../imgs/driftkortsymboler/Fuktare.png");
  }
.slinga {
  background-image:url("../imgs/driftkortsymboler/Slinga.png");
  }
.ventil {
  background-image:url("../imgs/driftkortsymboler/Ventil.png");
  }
.generell {
  background-image:url("../imgs/driftkortsymboler/Generell.png");
  }
.solonoid {
  background-image:url("../imgs/driftkortsymboler/Solonoid.png");
  }
.visare {
  background-image:url("../imgs/driftkortsymboler/Visare.png");
  }
.givare {
  background-image:url("../imgs/driftkortsymboler/Givare.png");
  }
.spjal {
  background-image:url("../imgs/driftkortsymboler/Spjall.png");
  }
.exkerl {
  background-image:url("../imgs/driftkortsymboler/expansionskarl.png");
  }
.diffgivare {
  background-image:url("../imgs/driftkortsymboler/GivareDiff.png");
  }
.stalldon {
  background-image:url("../imgs/driftkortsymboler/Stalldon.png");
  }
.kompressor {
  background-image:url("../imgs/driftkortsymboler/kompressor.png");
  }
.givareint {
  background-image:url("../imgs/driftkortsymboler/GivareInt.png");
  }
.stalldoman {
  background-image:url("../imgs/driftkortsymboler/StalldonAutMan.png");
  }
.radiator {
  background-image:url("../imgs/driftkortsymboler/radiator.png");
  }
.stalldonintern {
  background-image:url("../imgs/driftkortsymboler/InternMV.png");
  }
.stalldonnc {
  background-image:url("../imgs/driftkortsymboler/StalldonNC.png");
  }
.tank {
  background-image:url("../imgs/driftkortsymboler/tank.png");
  }
.sv {
  background-image:url("../imgs/driftkortsymboler/Stydspjall.png");
  }
.kylare {
  background-image:url("../imgs/driftkortsymboler/Kyla.png");
  }
.stalldonno {
  background-image:url("../imgs/driftkortsymboler/StalldonNO.png");
  }
.utegivare {
  background-image:url("../imgs/driftkortsymboler/utegivare.png");
  }
.avstängning {
  background-image:url("../imgs/driftkortsymboler/Manuell.png");
  }
.stalldonstannar {
  background-image:url("../imgs/driftkortsymboler/StalldonStannar.png");
  }
.vattenmatare {
  background-image:url("../imgs/driftkortsymboler/MatareFlodeVolEtc.png");
  }
.styrventilmv {
  background-image:url("../imgs/driftkortsymboler/StyrVentilMV.png");
