<!DOCTYPE html>
<html>
  <head>
    <base target="_top">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="895135418381-m1fmm24b5h76upit18r43f8su4pptld9.apps.googleusercontent.com">
    <script src="jquery-3.3.1.slim.min.js"></script>
    <script src="popper.min.js"></script>
    <script src="bootstrap.min.js"></script>
    <script src="vue.js"></script>
    <title>Begrepp</title>
  </head>
  <body>
  <div class="g-signin2" data-onsuccess="onSignIn"></div>
  <div id="app" class="container">
    <h1>Begrepp och enheter</h1>
    <p>
    Fyll i alla de tomma fälten med rätt svar.
    Läs på mer om 
    <a href="https://sites.google.com/educ.goteborg.se/mekatronik/mekatronik/elektronik/elektricitet/ohms-lag/str%C3%B6m" target="_blank">Ström</a>, 
    <a href="https://sites.google.com/educ.goteborg.se/mekatronik/mekatronik/elektronik/elektricitet/ohms-lag/sp%C3%A4nning" target="_blank">Spänning</a>, 
    <a href="https://sites.google.com/educ.goteborg.se/mekatronik/mekatronik/elektronik/elektricitet/ohms-lag/resistans" target="_blank">Resistans</a>,
    <a href="https://sites.google.com/educ.goteborg.se/mekatronik/mekatronik/mekanik/kraft" target="_blank">Kraft</a>, 
    <a href="https://sites.google.com/educ.goteborg.se/mekatronik/mekatronik/mekanik/tryck" target="_blank">Tryck</a>, Area, 
    <a href="https://sites.google.com/educ.goteborg.se/mekatronik/mekatronik/mekanik/vridmoment" target="_blank">Vridmoment</a> och 
    <a href="https://sites.google.com/educ.goteborg.se/mekatronik/mekatronik/elektronik/elektricitet/effekt-lagen/effekt" target="_blank">effekt</a>.<br>
    <span>Tecken att kopiera: Ω τ ²</span>
    </p>
    <div>
      <table class="table">
        <tr>
          <th>Storhet</th>
          <th>Storhetsbeteckning</th>
          <th>Enhet</th>
          <th>Enhetsbeteckning</th>
          <th>Beskrivning</th>
        </tr>
        <tr v-for="storhet in attVeta">
          <td v-if="veta[tabell[storhet][1]] == 0">{{ tabell[storhet][0] }}</td>
          <td v-else="">
            <span v-if="kolladesvar[storhet][0].trim() == tabell[storhet][0]">{{ tabell[storhet][0] }}</span>
            <input v-else="" v-model="svar[storhet][0]" class="form-control">
          </td>
          
          <td v-if="veta[tabell[storhet][1]] == 1">{{ tabell[storhet][1] }}</td>
          <td v-else="">
            <span v-if="kolladesvar[storhet][1].trim() == tabell[storhet][1]">{{ tabell[storhet][1] }}</span>
            <input v-else="" v-model="svar[storhet][1]" class="form-control">
          </td>

          <td v-if="veta[tabell[storhet][1]] == 2">{{ tabell[storhet][2] }}</td>
          <td v-else="">
            <span v-if="kolladesvar[storhet][2].trim() == tabell[storhet][2]">{{ tabell[storhet][2] }}</span>
            <input v-else="" v-model="svar[storhet][2]" class="form-control">
          </td>

          <td v-if="veta[tabell[storhet][1]] == 3">{{ tabell[storhet][3] }}</td>
          <td v-else="">
            <span v-if="kolladesvar[storhet][3].trim() == tabell[storhet][3]">{{ tabell[storhet][3] }}</span>
            <input v-else="" v-model="svar[storhet][3]" class="form-control">
          </td>
          
          <td v-if="veta[tabell[storhet][1]] == 4">{{ tabell[storhet][4] }}</td>
          <td v-else=""></td>
          
        </tr>
      </table>
    </div>
    <div v-if="status == true" class="alert alert-success">
        Grattis! Du klarade frågan!<br>
        <button class="btn btn-primary" v-on:click="next">Nästa övning</button><br>
        <img class="rounded" width="320" v-bind:src="successImage()">
    </div>
    <button v-on:click="check" class="btn btn-primary">Kontrollera svaren.</button>
    <div class="progress" ><div class="progress-bar bg-success" role="progressbar" v-bind:style="{width: (antal/15*100)+'%'}"></div></div>
    <div v-if="antal >= 15" class="alert alert-success" >
      Nu har du klarat ett träningsvarv. <br>
      Lämna in denna länk på google classroom:<br>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <button class="btn btn-primary" v-on:click="copylink()" type="button">Kopiera länk</button>
        </div>
        <input id="correctlink" class="form-control" v-bind:value="handinlink()">
      </div>
    </div>
    <button class="btn btn-secondary" v-on:click="reset()">Återställ övning</button>    </div>
  </body>
  <script src="common.js"></script>
  <script>
  Vue.use(Success);
  Vue.use(SaveAndRestore);
    var app = new Vue({
      el: '#app',
      data: {
        svar: {
          "U":["","","",""],
          "I":["","","",""],
          "R":["","","",""],
          "P":["","","",""],
          "F":["","","",""],
          "τ":["","","",""],
          "p":["","","",""],
          "A":["","","",""]
          },
        kolladesvar: {
          "U":["","","",""],
          "I":["","","",""],
          "R":["","","",""],
          "P":["","","",""],
          "F":["","","",""],
          "τ":["","","",""],
          "p":["","","",""],
          "A":["","","",""]
        },
        tabell: {
          "U":["Spänning","U","Volt","V","Det som får elektronerna att vilja röra på sig."],
          "I":["Ström","I","Ampere","A","Hur många elektroner som rör sig genom kretsen under en viss tid."],
          "R":["Resistans","R","Ohm","Ω","Hur stort motstånd det är i kretsen, hur jobbigt det är för elektronerna att röra sig."],
          "P":["Effekt","P","Watt","W","Hur mycket som händer / hur stor energi/kraft som sker."],
          "τ":["Vridmoment","τ","Newtonmeter","Nm","Beskriver hur hårt/kraftigt något snurrar eller vrider runt sin axel."],
          "F":["Kraft","F","Newton","N","Något som påverkar object med tryck eller drag och kan skapa rörelse. 1Kg som hänger rakt ner ger 10 av enheten."],
          "p":["Tryck","p","Pascal","Pa","Beskriver hur stor tillexempel lufttrycket är."],
          "A":["Area","A","Kvadratmeter","m²","Beskriver hur stor yta något har."]
        },
        veta: { "U":3, "I":1,"R":0,"P":0,"F":0,"τ":0,"p":0,"A":0 },
        attVeta: ["U","I","R","F","τ","p","A"],
        start: new Date(),
        antal: -1,
        questions:[],
        poang: 1,
        taskname: "begreppmekanikhel"
      },
      computed: {
        status: function () {
          var midstatus = true;
          var id = "U";
          var max = this.attVeta.length;
          var data = ""; 
          for (var i = 0; i < max ; i++ ){
            id = this.attVeta[i];
            if (
              (this.tabell[id][0] == this.kolladesvar[id][0].trim() || this.veta[id] == 0) &&
              (this.tabell[id][1] == this.kolladesvar[id][1].trim() || this.veta[id] == 1) &&
              (this.tabell[id][2] == this.kolladesvar[id][2].trim() || this.veta[id] == 2) &&
              (this.tabell[id][3] == this.kolladesvar[id][3].trim() || this.veta[id] == 3)
              ){} 
            else{
              midstatus = false;
            }
          }
          return midstatus;
          }
      },
      methods: {
        check: function () {
          this.kolladesvar = JSON.parse(JSON.stringify(this.svar));
          if(!this.status){
            alert("Alla är inte rätt");
            this.poang = this.poang/2;
            if(this.antal < 0){
              this.antal = 0;
            }
          }
        },
        next: function () {
        this.veta = {
          "U":Math.floor(Math.random() * 5),
          "I":Math.floor(Math.random() * 5),
          "R":Math.floor(Math.random() * 5),
          "P":Math.floor(Math.random() * 5),
          "F":Math.floor(Math.random() * 5),
          "τ":Math.floor(Math.random() * 5),
          "p":Math.floor(Math.random() * 5),
          "A":Math.floor(Math.random() * 5),
          };
        var alts = [
          ["F"],
          ["τ"],
          ["A"],
          ["p"],
          ["U","P","F"],
          ["R","τ","T"],
          ["P","τ","I"],
          ["U","τ","F"],
          ["τ","U","I"],
          ["R","τ","P"],
          ["A","p","P"],
          ["R","","A"],
          ["U","τ","F"],
          ["p","τ","U"],
          ["A","P","R"],
          ["I","F","p"]
          ["τ","A","p"],
          ["I","A","R"],
          ["U","","τ"]
        ]
        this.attVeta = alts[Math.floor(Math.random() * alts.length)];
        this.antal = this.antal + this.poang;
        this.poang = 1;
        this.svar = {
          "U":["","","",""],
          "I":["","","",""],
          "R":["","","",""],
          "P":["","","",""],
          "F":["","","",""],
          "τ":["","","",""],
          "p":["","","",""],
          "A":["","","",""]
          };
        this.kolladesvar = JSON.parse(JSON.stringify(this.svar));
        this.questions.push(this.veta.U);
        this.save();
        }
      }
    });
  </script>
</html>