<!DOCTYPE html>
<html>
  <head>
    <base target="_top">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="895135418381-m1fmm24b5h76upit18r43f8su4pptld9.apps.googleusercontent.com">
    <script src="jquery-3.3.1.slim.min.js"></script>
    <script src="popper.min.js"></script>
    <script src="bootstrap.min.js"></script>
    <script src="vue.js"></script>
    <link rel="stylesheet" href="css/katex.min.css">
    <script src="katex.min.js"></script>
    <title>Begrepp</title>
  </head>
  <body>
  <div class="g-signin2" data-onsuccess="onSignIn"></div>
  <div id="app" class="container">
    <h1>Begrepp och enheter</h1>
    <p>
    Fyll i alla de tomma fälten med rätt svar.
    Läs på el.ltgee.se kap 11.
    </p>
    <div>
      <table class="table">
        <tr>
          <th>Storhet</th>
          <th>betn.</th>
          <th>Enhet</th>
          <th>Betn.</th>
          <th>Beskrivning</th>
        </tr>
        <tr v-for="(storhet, rad) in tabell">
          <td v-if="visa.r == rad && visa.c == 0">
          	<ul class="list-group" style="position: absolute;z-index: 999999;">
            <button 
              v-on:click="valjsvar(rad, 0, frad)"
              v-for="(frad, fid) in namnstorhet"
              type="button"
              class="list-group-item list-group-item-action"
              >{{frad}}</button>
          </ul>
          </td>
          <td v-else="">
            <div v-if="svar[rad][0] == kolladesvar[rad][0] && svar[rad][0] !=='Välj...'">{{svar[rad][0]}}</div>
		        <button v-else="" v-on:click="valj(rad, 0)" type="button" class="btn btn-outline-dark">{{svar[rad][0]}}</button>
          </td>
          
          <td v-if="visa.r == rad && visa.c == 1">
          	<ul class="list-group" style="position: absolute;z-index: 999999;">
            <button 
              v-on:click="valjsvar(rad, 1, frad)"
              v-for="(frad, fid) in htmlstorhetsb"
              type="button"
              class="list-group-item list-group-item-action"
              v-html="frad"></button>
          </ul>
          </td>
          <td v-else="">
            <div v-if="svar[rad][1] == kolladesvar[rad][1] && svar[rad][1] !=='Välj...'" v-html="svar[rad][1]"></div>
		        <button v-else="" v-on:click="valj(rad, 1)" type="button" class="btn btn-outline-dark" v-html="svar[rad][1]"></button>
          </td>

          <td v-if="visa.r == rad && visa.c == 2">
          	<ul class="list-group" style="position: absolute;z-index: 999999;">
            <button 
              v-on:click="valjsvar(rad, 2, frad)"
              v-for="(frad, fid) in namnenheter"
              type="button"
              class="list-group-item list-group-item-action">{{frad}}</button>
          </ul>
          </td>
          <td v-else="">
            <div v-if="svar[rad][2] == kolladesvar[rad][2] && svar[rad][2] !=='Välj...'">{{svar[rad][2]}}</div>
		        <button v-else="" v-on:click="valj(rad, 2)" type="button" class="btn btn-outline-dark">{{svar[rad][2]}}</button>
          </td>

          <td v-if="visa.r == rad && visa.c == 3">
          	<ul class="list-group" style="position: absolute;z-index: 999999;">
            <button 
              v-on:click="valjsvar(rad, 3, frad)"
              v-for="(frad, fid) in htmlenheter"
              type="button"
              class="list-group-item list-group-item-action"
              v-html="frad"></button>
          </ul>
          </td>
          <td v-else="">
            <div v-if="svar[rad][3] == kolladesvar[rad][3] && svar[rad][3] !=='Välj...'" v-html="svar[rad][3]"></div>
		        <button v-else="" v-on:click="valj(rad, 3)" type="button" class="btn btn-outline-dark" v-html="svar[rad][3]"></button>
          </td>
          <td>
		        {{storhet[4]}}
          </td>
          
        </tr>
      </table>
    </div>
    <div v-if="status == true" class="alert alert-success">
        Grattis! Du klarade frågan!<br>
        <button class="btn btn-primary" v-on:click="next">Nästa övning</button><br>
        <img class="rounded" width="320" v-bind:src="successImage()">
    </div>
    <button v-on:click="check" class="btn btn-primary">Kontrollera svaren.</button>
    <div class="progress" ><div class="progress-bar bg-success" role="progressbar" v-bind:style="{width: (antal/15*100)+'%'}"></div></div>
    <div v-if="antal >= 15" class="alert alert-success" >
      Nu har du klarat ett träningsvarv. <br>
      Lämna in denna länk på google classroom:<br>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <button class="btn btn-primary" v-on:click="copylink()" type="button">Kopiera länk</button>
        </div>
        <input id="correctlink" class="form-control" v-bind:value="handinlink()">
      </div>
    </div>
    <button class="btn btn-secondary" v-on:click="reset()">Återställ övning</button>    </div>
  </body>
  <script src="common.js"></script>
  <script>
  Vue.use(Success);
  Vue.use(SaveAndRestore);
    var app = new Vue({
      el: '#app',
      data: {
        svar: Array.from(Array(22), () => ["Välj...","Välj...","Välj...","Välj..."]),
        kolladesvar: Array.from(Array(22), () => ["Välj...","Välj...","Välj...","Välj..."]),
        visa: {"r":-1,"c":-1},
        tabell: [
          ["Ström (Toppvärde)","\\hat{\\imath}","Ampere","A","Hur mång elektroner som passerar som mest i en växelströmskrets."],
          ["Ström (Effektivvärde)","I","Ampere","A","Hur många elektroner som passerar i en likströmskrets eller hur många som passerar i snitt i en växelströmskrets."],
          ["Spänning (Toppvärde)","\\hat{u}","Volt","V", "Hur kraftigt elektronerna trycks/dras som kraftigast i en växelströmskrets."],
          ["Spänning (Effektivvärde)","U","Volt","V","Hur kraftigt som elektronerna dras/trycks i en likströmskrets eller i snitt hur kraftigt de dras i en växelströmms krets."],
          ["Spänning över induktiv reaktans","U_l","Volt","V","Spänningsfall i en spole borträknat spänningsfallet över resistansen i spolen."],
          ["Spänning över kapacitiv reaktans","U_c","Volt","V","Spänningsfall över en kondensator som inte har någon resistans."],
          ["Resistans","R","Ohm","Ω","Motståndet för likspänning i en krets, eller motståndet som växelströmmen möter när den är i fas med spänningen."],
          ["Kapacitiv reaktans","X_c","Ohm","Ω","Motståndet som växelströmmen möter i en kondensator borträknat resistansen."],
          ["Induktiv reaktans","X_l","Ohm","Ω","Motståndet som växelströmmen möter i en spole borträknat resistansen."],
          ["Impedans","Z","Ohm","Ω","Motståndet som växelströmmen möter i en krets."],
          ["Effekt","P","Watt","W","Den aktiva effeken i en krets som faktiskt utför något, lyser, snurrar etc."],
          ["Skenbar effekt","S"," VoltAmpere","VA","Effekten i kretsen som det verkar vara om du mäter ström och spänning."],
          ["Reaktiv effekt induktiv","Q_l","VoltAmpereReaktiv","VAR","Den effekt i en krets som inte utför något alls där ström och spänning är helt ur fas i en spole."],
          ["Reaktiv effekt kapasitiv","Q_c","VoltAmpereReaktiv","VAR","Den effekt i en krets som inte utför något alls där ström och spänning är helt ur fas i en kondensator"],
          ["Fasförskjutning","\\varphi","Grader","\\degree","Vinkeln som beskriver hur mycket strömmen och spänningen ligger i otakt."],
          ["Effektfaktor","Cos\\varphi","Faktor","ingen","Beskriver hur mycket den skenbara effekten och den aktiva effekten skilljer sig åt."],
          ["Verkninsgrad","\\eta","Procent / Faktor","\\%/ingen","Hur stor del av den effekt som tillförs som faktiskt kommer till nytta."],
          ["Periodtid","t","Sekunder","s","Hur lång tid det tar för växelspänningen att gå hela vägen upp och sedan hela vägen ner och tillba till 0 igen."],
          ["Frekvens","f","Hertz","Hz","Hur många gåner något sker under en sekund."],
          ["Resistivitet","\\rho","Resistivitet","Ohm/m/mm^2","Hur stort motstånd ett vist material har att leda ström."],
          ["Längd","l","Meter","m","Ett sätt att mäta avstånd."],
          ["Tvärsnittsarea","A","Kvadratmillimeter","mm^2","Ett sätt att mäta hur tjock en ledare är."]
        ],
        start: new Date(),
        antal: -1,
        questions:[],
        poang: 1,
        taskname: "begreppellhel"
      },
      computed: {
        htmltabell: function (){
          function katexig(rad){
            return [rad[0], window.katex.renderToString(rad[1]), rad[2], window.katex.renderToString(rad[3])]
          }
          return this.tabell.map(katexig)
        },
        htmlstorhetsb: function (){
          function katexig(rad){
            return window.katex.renderToString(rad[1])
          }
          return this.tabell.map(katexig).sort()
        },
        namnstorhet: function (){
          function katexig(rad){
            return rad[0];
          }
          return this.tabell.map(katexig).sort()
        },
        htmlenheter: function (){
          function katexig(rad){
            return window.katex.renderToString(rad[3])
          }
          function onlyUnique(value, index, self) {
            return self.indexOf(value) === index;
          }
          return this.tabell.map(katexig).filter(onlyUnique).sort()
        },
        namnenheter: function (){
          function katexig(rad){
            return rad[2]
          }
          function onlyUnique(value, index, self) {
            return self.indexOf(value) === index;
          }
          return this.tabell.map(katexig).filter(onlyUnique).sort()
        },
        status: function () {
          function tillrad(rad){return rad[0]+rad[1]+rad[2]+rad[3]}
          return JSON.stringify(this.htmltabell.map(tillrad)) === JSON.stringify(this.kolladesvar.map(tillrad));
          }
      },
      methods: {
        valj: function(rad, col){
            this.visa.r = rad;
            this.visa.c = col;
      	},
        valjsvar: function(rad, col, svar){
          Vue.set(this.svar[rad], col ,svar);
          this.valj(-1,-1);
      	},
        check: function () {
          for (var i = 0; i < this.svar.length; i++){
            Vue.set(this.kolladesvar,i, this.svar[i].slice());
          }
          if(!this.status){
            alert("Alla är inte rätt");
            this.antal = 0;
          }
          this.poang = 15;
        },
        next: function () {
          this.antal = this.antal + this.poang;
          this.questions.push(this.svar[0][0]);
          this.kolladesvar = Array.from(Array(22), () => ["Välj...","Välj...","Välj...","Välj..."]);
          this.svar = Array.from(Array(22), () => ["Välj...","Välj...","Välj...","Välj..."]);
          for (let i = this.tabell.length - 1; i > 0; i--) {
            const j = Math.floor(Math.random() * (i + 1));
            const temp = this.tabell[i];
            Vue.set(this.tabell,i, this.tabell[j]);
            Vue.set(this.tabell,j, temp);
          }
          this.save();
        }
      }
    });
  </script>
</html>
