<!DOCTYPE html>
<html>
  <head>
    <base target="_top">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/driftkortsymboler.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="jquery-3.3.1.slim.min.js"></script>
    <script src="popper.min.js"></script>
    <script src="bootstrap.min.js"></script>
    <script src="vue.js"></script>
    <title>Driftkort grundsymboler</title>
    <style>
     pre {
       margin:0;
     }
     td {
       font-size: 13px;
     }
    </style>
  </head>
  <body>
    <script src="https://accounts.google.com/gsi/client"></script>
    <div id="g_id_onload"
      data-client_id="895135418381-m1fmm24b5h76upit18r43f8su4pptld9.apps.googleusercontent.com"
      data-context="signin"
      data-auto_select="true"
      data-callback="onSignIn">
    </div>
    <div class="g_id_signin"
      data-type="standard"
      data-shape="rectangular"
      data-theme="outline"
      data-text="signin_with"
      data-size="large"
      data-logo_alignment="left">
    </div>
  <div id="app" class="container" v-if="email">
    <h1>Driftkort grundsymboler</h1>
    <p> I denna övning får du träna på att känna igen de mest grundläggande symbolerna för driftkort.
    </p>
    <div v-bind:class="circuit.code" style="background-size:contain; background-repeat: no-repeat; width: 150px;height: 150px;">
    </div>
    <div>
      <br>
      <p>Vilken symbol visas på bilden?</p>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <input class="from-control" v-model:value="hitta">
        </div>
        <select v-model="svar" class="custom-select">
          <option value=""selected>Välj...</option>
          <option v-for="c in hittade" v-bind:value="c.code">{{c.name}}</option>
        </select>
        <div class="input-group-append">
          <span class="input-group-text" >Välj symbol</span>
        </div>
      </div>
      <button v-on:click="check" class="btn btn-primary">Kontrollera svaren.</button><br>
      <div v-if="right" class="alert alert-success">
        Grattis! Du klarade frågan!<br>
        <button class="btn btn-primary" v-on:click="next">Nästa övning</button><br>
        <img class="rounded" width="320" v-bind:src="successImage()">
      </div>
    </div>
    <div class="progress mt-2">
      <div class="progress-bar" role="progressbar" v-bind:style='{"width": (antal/76 * 100)+"%"}'></div>
    </div>
    <button class="btn btn-secondary" v-on:click="reset()">Återställ övning</button>    <div v-if="antal >= 76" class="alert alert-success" >
      Nu har du klarat ett träningsvarv. <br>
      Lämna in denna länk på google classroom:<br>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <button class="btn btn-primary" v-on:click="copylink()" type="button">Kopiera länk</button>
        </div>
        <input id="correctlink" class="form-control" v-bind:value="handinlink()">
      </div>
    </div>

  </div>
  </body>
  <script src="common.js"></script>
  <script>
  Vue.use(Success);
  Vue.use(SaveAndRestore);
    var app = new Vue({
      el: '#app',
      data: {
        svar: "",
        tosvar: "",
        hitta: "",
        circuit:{"name":"Styrventil","code":"styrventil"},
        circuits:[
          {"name":"Styrventil","code":"styrventil"},
          {"name":"Cirkulationspump","code":"pump"},
          {"name":"Värmeväxlare standardsymbol","code":"generiskvvx"},
          {"name":"Termostatventil (oftast)","code":"styrventilmv"},
          {"name":"Vattenmätare volym (oftast)","code":"vattenmatare"},
          {"name":"Ställdon som håller sin position vid strömbortfall.","code":"stalldonstannar"},
          {"name":"Manuell avstängning","code":"avstängning"},
          {"name":"Utomhusgivare","code":"utegivare"},
          {"name":"Ställdon som öppnar vid strömbortfall.","code":"stalldonno"},
          {"name":"Kylbatteri","code":"kylare"},
          {"name":"Luftkylare","code":"kylare"},
          {"name":"Tank","code":"tank"},
          {"name":"Ställdon som stänger vid strömbortfall.","code":"stalldonnc"},
          {"name":"Ställdon med internt mätställe, termostat.","code":"stalldonintern"},
          {"name":"Radiator","code":"radiator"},
          {"name":"Ställdon med manuellt reglage.","code":"stalldoman"},
          {"name":"Givare","code":"givareint"},
          {"name":"Kompressor","code":"kompressor"},
          {"name":"Ställdon allmän symbol","code":"stalldon"},
          {"name":"Givare med två mätställen oftast en filtervakt.","code":"diffgivare"},
          {"name":"Expansionskärl.","code":"exkerl"},
          {"name":"Spjäll","code":"spjal"},
          {"name":"Givare allmän symbol","code":"givare"},
          {"name":"Mätinstrument med visare på.","code":"visare"},
          {"name":"Ställdon som använder elektromagnet.","code":"solonoid"},
          {"name":"Ventil","code":"ventil"},
          {"name":"Slinga","code":"slinga"},
          {"name":"Luftfuktare","code":"luftfuktare"},
          {"name":"Värmare","code":"varmare"},
          {"name":"Trevägs Styrventil","code":"shunt"},
          {"name":"Luftrenare","code":"filter"},
          {"name":"Givare med exempelvis sladd till mätpunkten.","code":"vaktex"},
          {"name":"Roterande värmeväxlare","code":"roterandevvx"},
          {"name":"Fläkt","code":"flakt"},
          {"name":"Elbatteri","code":"elbatteri"},
          {"name":"Värmeväxlare med 2 sidor","code":"vvxintern"},
          {"name":"Ställdon motor","code":"motor"},
          {"name":"Termometer","code":"termometer"},
          {"name":"Ställdon med membran","code":"membran"}
          ],
        antal:-1,
        questions:[],
        poang: 1,
        taskname: "Driftkort grundsymboler"
      },
      computed: {
        right: function () {
          return this.tosvar == this.circuit.code;
        },
        hittade: function () {
          var kortlista = this.circuits.filter(en => en.name.toUpperCase().includes(this.hitta.toUpperCase()));
          if(kortlista.length == 1){
            this.svar = kortlista[0].code;
          }
          return kortlista
        }
      },
      methods: {
        check: function () {
          this.tosvar = JSON.parse(JSON.stringify(this.svar));
          if (!this.right){
            alert("Svaret stämmer inte");
            this.poang = this.poang/2;
          }
          if (this.antal < 0){
            this.antal = 0;
          }
        },
        next: function () {
          var thisid = Math.floor(Math.random() * this.circuits.length);
          this.circuit = this.circuits[thisid];
          this.svar = "";
          this.hitta = "";
          this.tosvar = JSON.parse(JSON.stringify(this.svar));
          this.antal += this.poang;
          this.poang = 1;
          this.questions.push(thisid);
          this.save();
        }
      }
    })
  </script>
</html>