<!DOCTYPE html>
<html>
  <head>
    <base target="_top">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="https://ifa.thure.org/schema.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="895135418381-m1fmm24b5h76upit18r43f8su4pptld9.apps.googleusercontent.com">
    <script src="jquery-3.3.1.slim.min.js"></script>
    <script src="popper.min.js"></script>
    <script src="bootstrap.min.js"></script>
    <script src="vue.js"></script>
    <title>Strömmens väg</title>
    <style>
     pre {
       margin:0;
     }
     td {
       font-size: 13px;
     }
    </style>
  </head>
  <body>
    <script src="https://accounts.google.com/gsi/client"></script>
    <div id="g_id_onload"
      data-client_id="895135418381-m1fmm24b5h76upit18r43f8su4pptld9.apps.googleusercontent.com"
      data-context="signin"
      data-callback="onSignIn">
    </div>
    <div class="g_id_signin"
      data-type="standard"
      data-shape="rectangular"
      data-theme="outline"
      data-text="signin_with"
      data-size="large"
      data-logo_alignment="left">
    </div>
  <div id="app" class="container" v-if="email">
    <h1>Ellära Strömmens väg</h1>
    <p> I denna övning får du träna på att se hur ström rör sig i olika kretsar.
    </p>
    <table class="sh">
      <tr v-for="row in circuit.cdata">
        <td v-for="block in row" v-bind:class="block.type">{{block.name}}</td>
      </tr>
    </table>
    <div>
      <br>
      <p>Vad händer när brytare <b>A</b> sluts?</p>
      <div class="input-group mb-3" v-for="question in circuit.questions">
        <div class="input-group-preend">
          <span class="input-group-text" >Lampa {{ question.name }} </span>
        </div>
        <select v-model="svar[question.name]" class="custom-select">
          <option selected>Välj...</option>
          <option value="IT">fortsätter att lysa</option>
          <option value="IS">fortsätter att vara släckt</option>
          <option value="S">släcks</option>
          <option value="T">tänds</option>
          <option value="TS">lyser starkare</option>
          <option value="TSV">lyser svagare</option>
        </select>
      </div>
      <button v-on:click="check" class="btn btn-primary">Kontrollera svaren.</button><br>
      <div v-if="right" class="alert alert-success">
        Grattis! Du klarade frågan!<br>
        <button class="btn btn-primary" v-on:click="next">Nästa övning</button><br>
        <img class="rounded" width="320" v-bind:src="successImage()">
      </div>
    </div>
    <div class="progress mt-2">
      <div class="progress-bar" role="progressbar" v-bind:style='{"width": (antal/15 * 100)+"%"}'></div>
    </div>
    <button class="btn btn-secondary" v-on:click="reset()">Återställ övning</button>    <div v-if="antal >= 15" class="alert alert-success" >
      Nu har du klarat ett träningsvarv. <br>
      Lämna in denna länk på google classroom:<br>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <button class="btn btn-primary" v-on:click="copylink()" type="button">Kopiera länk</button>
        </div>
        <input id="correctlink" class="form-control" v-bind:value="handinlink()">
      </div>
    </div>

  </div>
  </body>
  <script src="common.js"></script>
  <script>
  Vue.use(Success);
  Vue.use(SaveAndRestore);
    var app = new Vue({
      el: '#app',
      data: {
        svar: {},
        tosvar: {},
        circuit:[],
        circuits:[
            {
              "questions": [{"name":"B","right":"IS"}],
              "cdata" : [
                [{"name":"","type":"l-d-corner"},{"name":"A","type":"breaker"},{"name":"","type":"r-d-corner"}],
                [{"name":"","type":"line vert"},{"name":"","type":""},{"name":"","type":"line vert"}],
                [{"name":"","type":"r-u-corner"},{"name":"B","type":"lamp"},{"name":"","type":"l-u-corner"}]
              ]
            },
            {
              "questions": [{"name":"B","right":"IS"}],
              "cdata" : [
                [{"name":"","type":"l-d-corner"},{"name":"","type":"line"},{"name":"","type":"r-d-corner"}],
                [{"name":"","type":"line vert"},{"name":"","type":""},{"name":"A","type":"breaker vert"}],
                [{"name":"","type":"r-u-corner"},{"name":"B","type":"lamp"},{"name":"","type":"l-u-corner"}]
              ]
            },
            {
              "questions": [{"name":"C","right":"T"},{"name":"B","right":"T"}],
              "cdata" : [
                [{"name":"","type":"l-d-corner"},{"name":"C","type":"lamp"},{"name":"","type":"r-d-corner"}],
                [{"name":"","type":"bat vert"},{"name":"","type":""},{"name":"A","type":"breaker vert"}],
                [{"name":"","type":"r-u-corner"},{"name":"B","type":"lamp"},{"name":"","type":"l-u-corner"}]
              ]
            },
            {
              "questions": [{"name":"B","right":"T"}],
              "cdata" : [
                [{"name":"","type":"l-d-corner"},{"name":"B","type":"lamp"},{"name":"","type":"r-d-corner"}],
                [{"name":"","type":"bat vert"},{"name":"","type":""},{"name":"A","type":"breaker vert"}],
                [{"name":"","type":"r-u-corner"},{"name":"","type":"line"},{"name":"","type":"l-u-corner"}]
              ]
            },
            {
              "questions": [{"name":"B","right":"S"}],
              "cdata" : [
                [{"name":"","type":"l-d-corner"},{"name":"","type":"conn"},{"name":"","type":"r-d-corner"}],
                [{"name":"B","type":"lamp vert"},{"name":"","type":"bat vert"},{"name":"A","type":"breaker vert"}],
                [{"name":"","type":"r-u-corner"},{"name":"","type":"conn u-vert"},{"name":"","type":"l-u-corner"}]
              ]
            },
            {
              "questions": [{"name":"B","right":"IT"},{"name":"C","right":"T"}],
              "cdata" : [
                [{"name":"","type":"l-d-corner"},{"name":"","type":"conn"},{"name":"","type":"r-d-corner"}],
                [{"name":"B","type":"lamp vert"},{"name":"","type":"bat vert"},{"name":"C","type":"lamp vert"}],
                [{"name":"","type":"line vert"},{"name":"","type":"line vert"},{"name":"A","type":"breaker vert"}],
                [{"name":"","type":"r-u-corner"},{"name":"","type":"conn u-vert"},{"name":"","type":"l-u-corner"}]
              ]
            },
            {
              "questions": [{"name":"B","right":"IT"},{"name":"C","right":"T"}],
              "cdata" : [
                [{"name":"","type":"l-d-corner"},{"name":"","type":"conn"},{"name":"","type":"r-d-corner"}],
                [{"name":"","type":"bat vert"},{"name":"B","type":"lamp vert"},{"name":"C","type":"lamp vert"}],
                [{"name":"","type":"line vert"},{"name":"","type":"line vert"},{"name":"A","type":"breaker vert"}],
                [{"name":"","type":"r-u-corner"},{"name":"","type":"conn u-vert"},{"name":"","type":"l-u-corner"}]
              ]
            },
            {
              "questions": [{"name":"B","right":"T"},{"name":"C","right":"T"}],
              "cdata" : [
                [{"name":"","type":"l-d-corner"},{"name":"A","type":"breaker"},{"name":"","type":"r-d-corner"}],
                [{"name":"","type":"bat vert"},{"name":"","type":""},{"name":"C","type":"lamp vert"}],
                [{"name":"","type":"line vert"},{"name":"","type":""},{"name":"B","type":"lamp vert"}],
                [{"name":"","type":"r-u-corner"},{"name":"","type":"line"},{"name":"","type":"l-u-corner"}]
              ]
            },
            {
              "questions": [{"name":"C","right":"IS"}],
              "cdata" : [
                [{"name":"","type":"l-d-corner"},{"name":"A","type":"breaker"},{"name":"","type":"r-d-corner"}],
                [{"name":"","type":"bat vert"},{"name":"","type":""},{"name":"C","type":"lamp vert"}],
                [{"name":"","type":"line vert"},{"name":"","type":""},{"name":"B","type":"breaker vert"}],
                [{"name":"","type":"r-u-corner"},{"name":"","type":"line"},{"name":"","type":"l-u-corner"}]
              ]
            },
            {
              "questions": [{"name":"B","right":"IT"}],
              "cdata" : [
                [{"name":"","type":"l-d-corner"},{"name":"","type":"line"},{"name":"","type":"r-d-corner"}],
                [{"name":"","type":"bat vert"},{"name":"","type":""},{"name":"B","type":"lamp vert"}],
                [{"name":"","type":"conn r-vert"},{"name":"","type":"line"},{"name":"","type":"conn vert"}],
                [{"name":"","type":"r-u-corner"},{"name":"A","type":"breaker"},{"name":"","type":"l-u-corner"}]
              ]
            },
            {
              "questions": [{"name":"B","right":"IT"}],
              "cdata" : [
                [{"name":"","type":"l-d-corner"},{"name":"","type":"line"},{"name":"","type":"r-d-corner"}],
                [{"name":"","type":"bat vert"},{"name":"","type":""},{"name":"B","type":"lamp vert"}],
                [{"name":"","type":"conn r-vert"},{"name":"","type":"line"},{"name":"","type":"conn vert"}],
                [{"name":"","type":"r-u-corner"},{"name":"A","type":"breaker"},{"name":"","type":"l-u-corner"}]
              ]
            },
            {
              "questions": [{"name":"B","right":"TS"},{"name":"C","right":"S"}],
              "cdata" : [
                [{"name":"","type":"l-d-corner"},{"name":"","type":"line"},{"name":"","type":"r-d-corner"}],
                [{"name":"","type":"bat vert"},{"name":"","type":""},{"name":"B","type":"lamp vert"}],
                [{"name":"","type":"conn r-vert"},{"name":"C","type":"lamp"},{"name":"","type":"conn vert"}],
                [{"name":"","type":"r-u-corner"},{"name":"A","type":"breaker"},{"name":"","type":"l-u-corner"}]
              ]
            },
            {
              "questions": [{"name":"B","right":"TS"},{"name":"C","right":"S"}],
              "cdata" : [
                [{"name":"","type":"l-d-corner"},{"name":"B","type":"lamp"},{"name":"","type":"r-d-corner"}],
                [{"name":"","type":"bat vert"},{"name":"","type":""},{"name":"","type":"line vert"}],
                [{"name":"","type":"conn r-vert"},{"name":"C","type":"lamp"},{"name":"","type":"conn vert"}],
                [{"name":"","type":"r-u-corner"},{"name":"A","type":"breaker"},{"name":"","type":"l-u-corner"}]
              ]
            },
            {
              "questions": [{"name":"B","right":"TS"},{"name":"C","right":"S"}],
              "cdata" : [
                [{"name":"","type":"l-d-corner"},{"name":"B","type":"lamp"},{"name":"","type":"r-d-corner"}],
                [{"name":"","type":"line vert"},{"name":"","type":""},{"name":"","type":"bat vert"}],
                [{"name":"","type":"conn r-vert"},{"name":"C","type":"lamp"},{"name":"","type":"conn vert"}],
                [{"name":"","type":"r-u-corner"},{"name":"A","type":"breaker"},{"name":"","type":"l-u-corner"}]
              ]
            },
            {
              "questions": [{"name":"B","right":"T"},{"name":"C","right":"T"}],
              "cdata" : [
                [{"name":"","type":"l-d-corner"},{"name":"B","type":"lamp"},{"name":"","type":"r-d-corner"}],
                [{"name":"","type":"conn r-vert"},{"name":"C","type":"lamp"},{"name":"","type":"conn vert"}],
                [{"name":"","type":"line vert"},{"name":"","type":""},{"name":"","type":"bat vert"}],
                [{"name":"","type":"r-u-corner"},{"name":"A","type":"breaker"},{"name":"","type":"l-u-corner"}]
              ]
            },
            {
              "questions": [{"name":"B","right":"T"},{"name":"C","right":"T"}],
              "cdata" : [
                [{"name":"","type":"l-d-corner"},{"name":"B","type":"lamp"},{"name":"","type":"r-d-corner"}],
                [{"name":"","type":"line vert"},{"name":"","type":""},{"name":"","type":"line vert"}],
                [{"name":"","type":"conn r-vert"},{"name":"C","type":"lamp"},{"name":"","type":"conn vert"}],
                [{"name":"","type":"line vert"},{"name":"","type":""},{"name":"","type":"bat vert"}],
                [{"name":"","type":"r-u-corner"},{"name":"A","type":"breaker"},{"name":"","type":"l-u-corner"}]
              ]
            }
            ],
        antal:-1,
        questions:[],
        poang: 1,
        taskname: "Strömmens väg"
      },
      computed: {
        right: function () {
          for(var i = 0; i < this.circuit.questions.length ;i++){
            if (this.tosvar[this.circuit.questions[i].name] == this.circuit.questions[i].right){
            } else {
              return false;
            }
          }
          return true;
        }
      },
      methods: {
        check: function () {
          this.tosvar = JSON.parse(JSON.stringify(this.svar));
          if (!this.right){
            alert("Svaret stämmer inte");
            this.poang = this.poang/2;
          }
          if (this.antal < 0){
            this.antal = 0;
          }
        },
        next: function () {
          var thisid = Math.floor(Math.random() * this.circuits.length);
          this.circuit = this.circuits[thisid];
          this.svar = {"A":"","B":"","C":"","D":"","E":""};
          this.tosvar = JSON.parse(JSON.stringify(this.svar));
          this.antal += this.poang;
          this.poang = 1;
          this.questions.push(thisid);
          this.save();
        }
      }
    })
  </script>
</html>