<!DOCTYPE html>
<html>
  <head>
    <base target="_top">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/elschema.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="jquery-3.3.1.slim.min.js"></script>
    <script src="popper.min.js"></script>
    <script src="bootstrap.min.js"></script>
    <script src="vue.js"></script>
    <style>
    table.logic {
      border-collapse:true;
    }
    
    table.logic td {
      padding: 0px;
    }
    
    table.logic img {
      width: 80px;
    }   
    </style>
  </head>
  <body>
  <script src="https://accounts.google.com/gsi/client"></script>
    <div id="g_id_onload"
      data-client_id="895135418381-m1fmm24b5h76upit18r43f8su4pptld9.apps.googleusercontent.com"
      data-context="signin"
      data-auto_select="true"
      data-callback="onSignIn">
    </div>
    <div class="g_id_signin"
      data-type="standard"
      data-shape="rectangular"
      data-theme="outline"
      data-text="signin_with"
      data-size="large"
      data-logo_alignment="left">
    </div>
  <div id="app" class="container" v-if="email">
    <h1>Träning Logiska grindar i kombination med NOT</h1>
    <p>
    Läs mer om Kombinerade/sammansatta logiska kretsar i mekatronikboken.
    </p>
    <div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Fyll i sanningstabellen för logikschemat nedan</h5>
          <table class="logic">
            <tr>
              <td>
              A
              <br>
              B
              </td>
              <td>
                <img v-bind:src="'imgs/ieclogic/'+fraga[0]+'.png'" >
              </td>
              <td>
                <img v-if="invert[0]" v-bind:src="'imgs/ieclogic/not.png'" >
                <img v-else="" v-bind:src="'imgs/ieclogic/rak.png'" >
              </td>
              <td>
                <img v-bind:src="'imgs/ieclogic/mellan.png'" >
              </td>
              <td>
                <img v-bind:src="'imgs/ieclogic/'+fraga[1]+'.png'" >
              </td>
              <td>
                <img v-if="invert[2]" v-bind:src="'imgs/ieclogic/not.png'" >
                <img v-else="" v-bind:src="'imgs/ieclogic/rak.png'" >
              </td>
              <td>
              Y
              </td>
            </tr>
            <tr>
              <td>
              C
              </td>
              <td>
                <img src="imgs/ieclogic/rak.png" >
              </td>
              <td>
                <img v-if="invert[1]" v-bind:src="'imgs/ieclogic/not.png'" >
                <img v-else="" v-bind:src="'imgs/ieclogic/rak.png'" >
              </td>
              <td>
                <img src="imgs/ieclogic/upp.png" >
              </td>
            </tr>
          </table>
          <table class="table table-sm">
            <tr>
              <th v-for="col in cols">{{col}}</th>
              <th>Y</th>
            </tr>
            <tr v-for="(row, key) in rows">
              <td v-for="onecol in row">{{onecol}}</td>
              <td><div class="input-group input-group-sm"><input type="text" v-model="svar[key]" class="form-control" placeholder="1/0"></div></td>
            </tr>
          </table>
        </div>
        <button v-on:click="check" class="btn btn-primary">Kontrollera svaren.</button><br>
      </div>
      <div v-if="right" class="alert alert-success">
        Grattis! Du klarade frågan!<br>
        <button class="btn btn-primary" v-on:click="next">Nästa övning</button><br>
        <img class="rounded" width="320" v-bind:src="successImage()">
      </div>
    </div>
    <div class="progress mt-2">
      <div class="progress-bar" role="progressbar" v-bind:style='{"width": (antal/15 * 100)+"%"}'></div>
    </div>
    <div v-if="antal >= 15" class="alert alert-success" >
      Nu har du klarat ett träningsvarv. <br>
      Lämna in denna länk på google classroom:<br>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <button class="btn btn-primary" v-on:click="copylink()" type="button">Kopiera länk</button>
        </div>
        <input id="correctlink" class="form-control" v-bind:value="handinlink()">
      </div>
    </div>
    <button class="btn btn-secondary" v-on:click="reset()">Återställ övning</button>  </div>
  </body>
  <script src="common.js"></script>
  <script>
    Vue.use(Success);
    Vue.use(SaveAndRestore);
    var app = new Vue({
      el: '#app',
      data: {
        taskname: "Kombinerad logik 2",
        fraga: ["and","and"],
        invert: [0,0,0],
        fragor: ["and","or","xor"],
        svar: ["","","",""],
        antal: -1,
        kontroll :["","","",""],
        poang: 1,
        questions: []
        },
      computed: {
        right: function(){
          for(var i = 0; i < this.rows.length; i++){
          
            var first = this.yfor( [this.rows[i][0],this.rows[i][1]], this.fraga[0] )
            if(this.invert[0]){
              first = !first;
            }
            var second = this.rows[i][2]
            if(this.invert[1]){
              second = !second;
            }
            var nextstep = this.yfor( [first, second], this.fraga[1])
            if(this.invert[2]){
              nextstep = !nextstep;
            }
            if(nextstep == this.kontroll[i]){
            } else {
              return false;
            }
          }
          return true;
        },
        rows: function(){
          return [
            [0,0,0],
            [0,0,1],
            [0,1,0],
            [0,1,1],
            [1,0,0],
            [1,0,1],
            [1,1,0],
            [1,1,1]
            ];
        },
        cols: function(){
          return ["A","B","C"];
        }
      },
      methods: {
        yfor( lista, fraga ){
          if(fraga == "and"){
            return (lista[0] && lista[1]);
          } else if (fraga == "or"){
            return (lista[0] || lista[1]);
          } else if (fraga == "not"){
            return (false == lista[0]);
          } else if (fraga == "xor"){
            return ((lista[0] || lista[1]) && !(lista[0] && lista[1]));
          }
        },
        check: function () {
          this.kontroll = JSON.parse(JSON.stringify(this.svar));
          if(this.right){
            return
          }
          alert("Svaret är inte rätt");
          this.poang=this.poang/2;
        },
        next: function () {
          this.svar = ["","","","","","","",""];
          this.kontroll = ["","","","","","","",""];
          this.antal = this.antal + this.poang;
          this.poang = 1;
          this.fraga = [
            this.fragor[Math.floor(Math.random()*this.fragor.length)],
            this.fragor[Math.floor(Math.random()*this.fragor.length)]
          ];
          this.invert = [Math.round(Math.random()*0.7),Math.round(Math.random()*0.7),Math.round(Math.random()*0.7)],
          this.questions.push(this.fraga);
          this.save();
        }
      }
    })
  </script>
  <a href="#" onclick="app.email='guest'">Gästinloggning</a>
</html>






