<!doctype html>
<html lang="sv">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>PID - Nivåreglering</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    </head>
    <body>
    <script type="importmap">
    {
        "imports": {
        "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
        }
    }
    </script>
    <div class="container-lg" id="top">
        <div id="app">
            <div class="row">
                <div class="col col-lg-6">
                    <svg
                       width="62.484493mm"
                       height="78.038681mm"
                       viewBox="0 0 62.484493 78.038681"
                       version="1.1"
                       id="svg1"
                       xmlns:xlink="http://www.w3.org/1999/xlink"
                       xmlns="http://www.w3.org/2000/svg"
                       xmlns:svg="http://www.w3.org/2000/svg">
                      <g
                         id="layer1"
                         transform="translate(-85.247202,-26.19375)">
                        <path
                           id="path405"
                           d="m 127.5,29 v 28 h 20 v -28 h -20 z"
                           style="fill:blue;stroke:#000000;stroke-width:0.499999;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
                        <path
                            id="path405fill"
                            v-bind:d="'m 127.5,29 v '+((100-level)*28/100)+' h 20 v -'+((100-level)*28/100)+' h -20 z'"
                            style="fill:lightgray;stroke:none" />
                        <path
                           id="path406"
                           d="m 124.98223,31.443315 h -5.00098"
                           style="fill:none;stroke:#000000;stroke-width:0.25;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
                        <path
                           id="path407"
                           d="M 137.48255,63.944377 V 58.9434"
                           style="fill:none;stroke:#000000;stroke-width:0.25;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
                        <path
                           id="path264"
                           d="m 126.53681,88.982674 v 14.999756 h 19.99968 V 88.982674"
                           style="fill:none;stroke:#000000;stroke-width:0.499999;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
                        <path
                           id="path1692"
                           d="m 92.997963,57.391539 c 4.14091,0 7.499347,3.35844 7.499347,7.500761 0,4.142319 -3.358437,7.49935 -7.499347,7.49935 -4.14231,0 -7.50076,-3.357031 -7.50076,-7.49935 0,-4.142321 3.35845,-7.500761 7.50076,-7.500761 z"
                           style="fill:none;stroke:#000000;stroke-width:0.499999;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
                        <path
                           id="path1693"
                           d="m 85.497203,64.8923 7.50076,-7.500761 7.499347,7.500761"
                           style="fill:none;stroke:#000000;stroke-width:0.499999;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
                        <path
                           id="path1694"
                           d="M 93.122143,50.019185 V 55.01876"
                           style="fill:none;stroke:#000000;stroke-width:0.25;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
                        <path
                           id="path1695"
                           d="m 92.997963,74.891429 v 5.00098 h 37.816277 v 21.223951 l 0.0499,-0.26095"
                           style="fill:none;stroke:#000000;stroke-width:0.25;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
                        <path
                           style="fill:#000000;stroke:#000000;stroke-width:0.252544;stroke-opacity:1"
                           d="M 120.21334,31.379922 H 93.106678 v -0.143485"
                           id="path3" />
                        <path
                           style="fill:#000000;stroke:#000000;stroke-width:0.22051;stroke-opacity:1"
                           d="m 93.106678,49.975431 v -18.477573 0"
                           id="path4" />
                        <path
                           id="path2880"
                           d="m 137.45578,76.43351 2.49978,4.99957 H 134.956 l 4.99956,-10.00054 H 134.956 Z"
                           style="fill:none;stroke:#000000;stroke-width:0.25;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
                        <path
                           id="path2881"
                           d="M 137.57961,88.93349 V 83.93286"
                           style="fill:none;stroke:#000000;stroke-width:0.25;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
                        <path
                           id="path2882"
                           d="M 137.45578,68.93275 V 63.93319"
                           style="fill:none;stroke:#000000;stroke-width:0.25;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
                        <text
                           xml:space="preserve"
                           style="font-size:3.175px;fill:#000000;stroke:#000000;stroke-width:0.264583;stroke-opacity:1"
                           x="102.84434"
                           y="65.828377"
                           id="text6"><tspan
                             id="tspan6"
                             style="stroke-width:0.264583"
                             x="102.84434"
                             y="65.828377">{{out}}%</tspan></text>
                        <rect
                           style="opacity:1;fill:none;fill-opacity:1;stroke:#000000;stroke-width:0.264583;stroke-dasharray:none;stroke-opacity:1"
                           id="rect6"
                           width="8.8037958"
                           height="1.8007762"
                           x="102.04399"
                           y="67.128929" />
                        <rect
                           style="fill:blue;stroke:none;"
                           id="rect6fill"
                           v-bind:width="out/100*8.8037958"
                           height="1.8007762"
                           x="102.04399"
                           y="67.128929" />
                        <rect
                           style="fill:blue;stroke:none;"
                           id="flow"
                           width="3"
                           v-bind:height="load/100*10"
                           x="136"
                           y="89" />
                      </g>
                    </svg>
                    <div class="btn-group">
                        <button type="button" class="btn btn-outline-secondary" :onclick="rensa">Rensa trend</button>
                        <button v-if="auto" type="button" class="btn btn-outline-secondary" :onclick="stop_start">Manuell styrning</button>
                        <button v-if="!auto" type="button" class="btn btn-outline-secondary" :onclick="stop_start">Starta PID</button>
                        <button v-if="!pausa" type="button" class="btn btn-outline-secondary" :onclick="paus">Pausa</button>
                        <button v-if="pausa" type="button" class="btn btn-outline-secondary" :onclick="paus">Starta</button>
                        <button v-if="!loadsim" type="button" class="btn btn-outline-secondary" :onclick="load_man">Starta störning</button>
                        <button v-if="loadsim" type="button" class="btn btn-outline-secondary" :onclick="load_man">Stoppa störning</button>
                    </div>
                </div>
                <!--<div :style="{height: level+'%'}" style="position: absolute; bottom:0px;width:100%;background-color:blue;"></div>-->
                <div class="col col-lg-6">
                    <div class="input-group mb-3">
                        <span class="input-group-text">P</span>
                        <input class="form-control" v-model="P">
                        <span class="input-group-text">faktor</span>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">I</span>
                        <input class="form-control" v-model="I">
                        <span class="input-group-text">sekunder</span>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">D</span>
                        <input class="form-control" v-model="D">
                        <span class="input-group-text">sekunder</span>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Pv</span>
                        <input class="form-control" disabled="true" v-model="level">
                        <span class="input-group-text">%</span>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Cv</span>
                        <input class="form-control" :disabled=auto v-model="out">
                        <span class="input-group-text">%</span>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Sp</span>
                        <input class="form-control" v-model="SP">
                        <span class="input-group-text">%</span>
                    </div>
                    <div>
                        <label class="form-label">Utflöde</label>
                        <input type="range" min="0" max="100" class="form-range" v-model="load">
                    </div>
                </div>
            </div>
            <div id="trend" v-once="">
                <canvas id="myChart"></canvas>
            </div>
            <div>
                    <div>
                        <label class="form-label">Diagramets maxbredd [{{trendsize}} minuter]</label>
                        <input type="range" min="1" max="10" class="form-range" v-model="trendsize">
                    </div>
                    <div>
                        <label class="form-label">Scrolla i diagrrammet [{{trendposition/10}}s]</label>
                        <input type="range" min="0" v-bind:max="trendposmax" class="form-range" v-model="trendposition">
                    </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      
    <script type="module">
    import { createApp } from 'vue'

    createApp({
        data() {
            return {
                volym_l: 5000,
                maxflow_ls: 350,
                maxinflow_ls: 400,
                level_l: 1000,
                P: 1,
                I: 1,
                D: 1,
                oldD: 20,
                SP: 50,
                out: 0,
                istore: 0,
                load: 20,
                trendsize:2,
                trendposition:0,
                PV_trend: [],
                SP_trend: [],
                out_trend: [],
                tidsaxel: [0],
                dead_level: [],
                dead_times: 12,
                auto: true,
                pausa: true,
                loadsim: false,
            }
        },
        computed: {
            outflow: function(){
                return this.maxflow_ls*Number(this.load)/100*Math.pow(this.level/100, 2);
            },
            level: function(){
                return (100*this.level_l/this.volym_l).toPrecision(4);  
            },
            inflow: function() {
                return this.out/100 * this.maxinflow_ls;
            },
            trendlen: function(){
                return this.PV_trend.length;
            },
            trendposmax: function(){
                const maxpos = this.trendlen-(this.trendsize*600);
                if (maxpos > 0){
                    return maxpos;
                }
                return 0;
            }
            
        },
        methods: {
            load_man(){
                this.loadsim = !this.loadsim;
            },
            paus(){
                this.pausa = !this.pausa;
            },
            stop_start(){
                this.auto = !this.auto;
            },
            rensa(){
                this.PV_trend=[];
                this.SP_trend=[];
                this.out_trend=[];
                this.tidsaxel=[0];
            },
            runpid(){
                if(this.pausa){
                    return
                }
                this.dead_level.push(this.level);
                const dlevel = this.dead_level.shift();
                if(this.auto){
                    var pval = (this.SP-dlevel)*this.P
                    var ival = pval/10*(1/Number(this.I));
                    this.istore = ival + this.istore;
                    
                    var dfuture = (pval-this.oldD)*this.D*10;

                    if(this.istore > 100){this.istore = 100}
                    if(this.istore < 0){this.istore = 0}

                    this.out = (pval + this.istore + dfuture).toPrecision(4);
                    this.oldD = pval;
                }
                
                if(this.out > 100){this.out = 100}
                if(this.out < 0){this.out = 0}
                this.level_l = this.level_l - this.outflow/10;
                this.level_l = this.level_l + this.inflow/10;
                if(this.level_l<0){
                    this.level_l = 0;
                }
                this.PV_trend.push(dlevel);
                this.SP_trend.push(Number(this.SP));
                this.out_trend.push(Number(this.out));
                this.tidsaxel.push((Number(this.tidsaxel[this.tidsaxel.length-1])+0.1));

                if(this.loadsim){
                    let speed=3;
                    let scale=45;
                    this.load = 5+Math.abs(Math.sin(Number(this.tidsaxel.slice(-1))/speed)*scale);
                }

                let start
                let end

                if(Number(this.trendposition)+10>this.trendposmax){
                    start = Number(this.trendsize)*-600;
                    end = this.trendlen;
                    this.trendposition = this.trendposmax;
                } else {
                    start = this.trendposition;
                    end = Number(this.trendsize)*600;
                }
                
                function totime(sec){
                    return sec.toPrecision(4)+"s";
                }

                window.chart.data.datasets[0].data = JSON.parse(JSON.stringify(this.PV_trend)).splice(start, end);
                window.chart.data.datasets[1].data = JSON.parse(JSON.stringify(this.SP_trend)).splice(start, end);
                window.chart.data.datasets[2].data = JSON.parse(JSON.stringify(this.out_trend)).splice(start, end);
                chart.data.labels = JSON.parse(JSON.stringify(this.tidsaxel)).splice(start, end).map(totime);
                window.chart.update();
            }
        },
        mounted() {
            const ctx = document.getElementById('myChart');
            window.chart = new Chart(ctx, {
                type: 'line',
                data: {
                labels: [],
                datasets: [
                    {   label: 'Pv',
                        data: [],
                        borderWidth: 1,
                        tension: 0.4
                    },
                    {   label: 'Sp',
                        data: [],
                        borderWidth: 1,
                        tension: 0.4
                    },
                    {   label: 'Cv',
                        data: [],
                        borderWidth: 1,
                        tension: 0.4
                    }],
                },
                options: {
                    animation: false,
                    pointStyle: false,
                    interaction: {
                        intersect: false,
                    },
                    scales: {
                        y: {
                            beginAtZero: true,
                            suggestedMax: 100
                        }
                    }
                }
            });
            function chartfit(){
                window.chart.resize();
            }
            addEventListener("resize", chartfit);
        },
        created() {
            for(var i = 0; i < this.dead_times; i++){
                this.dead_level.push(this.level);
            }
            window.setInterval(() => {
                this.runpid();
             }, 100);

        },
    }).mount('#app')
    </script>
    </body>
</html>