<!DOCTYPE html>
<html>
  <head>
    <base target="_top">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="jquery-3.3.1.slim.min.js"></script>
    <script src="popper.min.js"></script>
    <script src="bootstrap.min.js"></script>
    <script src="vue.js"></script>
    <title>Sensorer</title>
    <style>
     pre {
       margin:0;
     }
     td {
       font-size: 13px;
     }
    </style>
  </head>
  <body>
  <script src="https://accounts.google.com/gsi/client"></script>
    <div id="g_id_onload"
      data-client_id="895135418381-m1fmm24b5h76upit18r43f8su4pptld9.apps.googleusercontent.com"
      data-context="signin"
      data-auto_select="true"
      data-callback="onSignIn">
    </div>
    <div class="g_id_signin"
      data-type="standard"
      data-shape="rectangular"
      data-theme="outline"
      data-text="signin_with"
      data-size="large"
      data-logo_alignment="left">
    </div>
  <div id="app" class="container" v-if="email">
    <h1>Sensorer</h1>
    <p> I denna övning får du träna på att känna igen de vanligaste sensorerna.
    </p>
    <img v-bind:src="'imgs/sensorer/'+sensor.file">
    <div>
      <br>
      <p>Vilken typ av sensor finns på bilden?</p>
      <div class="input-group mb-3">
        <div class="input-group-preend">
          <span class="input-group-text" >Symbolen är </span>
        </div>
        <select v-model="svar" class="custom-select">
          <option selected>Välj...</option>
          <option v-for="s in sensorer" v-bind:value="s.file">{{s.name}}</option>
        </select>
      </div>
      <button v-on:click="check" class="btn btn-primary">Kontrollera svaren.</button><br>
      <div v-if="right" class="alert alert-success">
        Grattis! Du klarade frågan!<br>
        <button class="btn btn-primary" v-on:click="next">Nästa övning</button><br>
        <img class="rounded" width="320" v-bind:src="successImage()">
      </div>
    </div>
    <div class="progress mt-2">
      <div class="progress-bar" role="progressbar" v-bind:style='{"width": (antal/34 * 100)+"%"}'></div>
    </div>
    <button class="btn btn-secondary" v-on:click="reset()">Återställ övning</button>    <div v-if="antal >= 34" class="alert alert-success" >
      Nu har du klarat ett träningsvarv. <br>
      Lämna in denna länk på google classroom:<br>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <button class="btn btn-primary" v-on:click="copylink()" type="button">Kopiera länk</button>
        </div>
        <input id="correctlink" class="form-control" v-bind:value="handinlink()">
      </div>
    </div>

  </div>
  </body>
  <script src="common.js"></script>
  <script>
  Vue.use(Success);
  Vue.use(SaveAndRestore);
    var app = new Vue({
      el: '#app',
      data: {
        svar: "",
        tosvar: "",
        sensorer:[
        {"file":"direkt.jpg","name":"Fotocell direktavläsande"},
        {"file":"granslages.jpg","name":"Gränslägesbrytare"},
        {"file":"kapacitiv.jpg","name":"Kapacitiv givare"},
        {"file":"magnet.jpg","name":"Magnetgivare"},
        {"file":"fotocell.jpg","name":"Fotocell refelxiv"},
        {"file":"induktiv.jpg","name":"Induktiv givare"},
        {"file":"knapp.jpg","name":"Knapp"},
        {"file":"sm.jpg","name":"Focelll sändare & mottagare"}
        ],
        sensor:{"file":"direkt.jpg","name":"Fotocell direktavläsande"},
        antal:-1,
        questions:[],
        poang: 1,
        taskname: "Sensorer"
      },
      computed: {
        right: function () {
          return this.tosvar == this.sensor.file;
        }
      },
      methods: {
        check: function () {
          this.tosvar = JSON.parse(JSON.stringify(this.svar));
          if (!this.right){
            alert("Svaret stämmer inte");
            this.poang = this.poang/2;
          }
          if (this.antal < 0){
            this.antal = 0;
          }
        },
        next: function () {
          var thisid = Math.floor(Math.random() * this.sensorer.length);
          this.sensor = this.sensorer[thisid];
          this.svar = "";
          this.tosvar = JSON.parse(JSON.stringify(this.svar));
          this.antal += this.poang;
          this.poang = 1;
          this.questions.push(thisid);
          this.save();
        }
      }
    })
  </script>
</html>