<!DOCTYPE html>
<html>
  <head>
    <base target="_top">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="https://ifa.thure.org/schema.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="jquery-3.3.1.slim.min.js"></script>
    <script src="popper.min.js"></script>
    <script src="bootstrap.min.js"></script>
    <script src="vue.js"></script>
    <title>Serie eller paralellkoppling</title>
    <style>
     pre {
       margin:0;
     }
     td {
       font-size: 13px;
     }
    </style>
  </head>
  <body>
  <script src="https://accounts.google.com/gsi/client"></script>
    <div id="g_id_onload"
      data-client_id="895135418381-m1fmm24b5h76upit18r43f8su4pptld9.apps.googleusercontent.com"
      data-context="signin"
      data-callback="onSignIn">
    </div>
    <div class="g_id_signin"
      data-type="standard"
      data-shape="rectangular"
      data-theme="outline"
      data-text="signin_with"
      data-size="large"
      data-logo_alignment="left">
    </div>
  <div id="app" class="container" v-if="email">
    <h1>Serie eller paralellkoppling</h1>
    <p> I denna övning får du träna på att känna igen serie- och paralell-kopplingar.
      Detta är viktigt för att kunna förstå hur strömmen rör sig i en krets.
      Det behöver du förstå tillexempel vid felsökning.
    </p>
    <img v-bind:src="kretsbild" style="max-height: 320px;max-width: 640px;">
    <div>
      <br>
      <p>Hur är komponenterna på bilden kopplade?</p>
      <div class="input-group mb-3">
        <div class="input-group-preend">
          <span class="input-group-text" >Symbolen är </span>
        </div>
        <select v-model="svar" class="custom-select">
          <option selected>Välj...</option>
          <option value="p">Parallellkopplade</option>
          <option value="s">Seriekopplade</option>
        </select>
      </div>
      <button v-on:click="check" class="btn btn-primary">Kontrollera svaren.</button><br>
      <div v-if="right" class="alert alert-success">
        Grattis! Du klarade frågan!<br>
        <button class="btn btn-primary" v-on:click="next">Nästa övning</button><br>
        <img class="rounded" width="320" v-bind:src="successImage()">
      </div>
    </div>
    <div class="progress mt-2">
      <div class="progress-bar" role="progressbar" v-bind:style='{"width": (antal/15 * 100)+"%"}'></div>
    </div>
    <button class="btn btn-secondary" v-on:click="reset()">Återställ övning</button>    <div v-if="antal >= 15" class="alert alert-success" >
      Nu har du klarat ett träningsvarv. <br>
      Lämna in denna länk på google classroom:<br>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <button class="btn btn-primary" v-on:click="copylink()" type="button">Kopiera länk</button>
        </div>
        <input id="correctlink" class="form-control" v-bind:value="handinlink()">
      </div>
    </div>

  </div>
  </body>
  <script src="common.js"></script>
  <script>
  Vue.use(Success);
  Vue.use(SaveAndRestore);
    var app = new Vue({
      el: '#app',
      data: {
        svar: "",
        tosvar: "",
        typ:"p",
        typlista:["p","s"],
        nummer: 1,
        antal:-1,
        questions:[],
        taskname: "SerieEllerParallell"
      },
      computed: {
        kretsbild: function(){
          return "imgs/serieparalell/"+this.typ+this.nummer+".png";
        },
        right: function () {
          return this.tosvar == this.typ;
        }
      },
      methods: {
        check: function () {
          this.tosvar = JSON.parse(JSON.stringify(this.svar));
          if (!this.right){
            alert("Svaret stämmer inte");
            this.antal = 0;
          }
          if (this.antal < 0){
            this.antal = 0;
          }
        },
        next: function () {
          if (this.right){
            this.antal = this.antal + 1;
          }
          this.nummer = Math.floor(Math.random() * 10)+1;
          this.typ = this.typlista[Math.floor(Math.random() * 2)];
          this.svar = "";
          this.tosvar = JSON.parse(JSON.stringify(this.svar));
          this.questions.push(this.typ+this.nummer);
          this.save();
        }
      }
    })
  </script>
</html>