<!DOCTYPE html>
<html>
  <head>
    <base target="_top">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="https://ifa.thure.org/schema.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="895135418381-m1fmm24b5h76upit18r43f8su4pptld9.apps.googleusercontent.com">
    <script src="jquery-3.3.1.slim.min.js"></script>
    <script src="popper.min.js"></script>
    <script src="bootstrap.min.js"></script>
    <script src="vue.js"></script>
    <title>Ellära grundsymboler</title>
    <style>
     pre {
       margin:0;
     }
     td {
       font-size: 13px;
     }
    </style>
  </head>
  <body>
  <div class="g-signin2" data-onsuccess="onSignIn"></div>
  <div id="app" class="container">
    <h1>Ellära grundsymboler</h1>
    <p> I denna övning får du träna på att känna igen de mest grundläggande symbolerna innom elläran.
    </p>
    <table class="sh">
      <tr>
        <td v-bind:class="circuit.code">&nbsp;</td>
      </tr>
    </table>
    <div>
      <br>
      <p>Vilken symbol visas på bilden?</p>
      <div class="input-group mb-3">
        <div class="input-group-preend">
          <span class="input-group-text" >Symbolen är </span>
        </div>
        <select v-model="svar" class="custom-select">
          <option selected>Välj...</option>
          <option v-for="c in circuits" v-bind:value="c.code">{{c.name}}</option>
        </select>
      </div>
      <button v-on:click="check" class="btn btn-primary">Kontrollera svaren.</button><br>
      <div v-if="right" class="alert alert-success">
        Grattis! Du klarade frågan!<br>
        <button class="btn btn-primary" v-on:click="next">Nästa övning</button><br>
        <img class="rounded" width="320" v-bind:src="successImage()">
      </div>
    </div>
    <div class="progress mt-2">
      <div class="progress-bar" role="progressbar" v-bind:style='{"width": (antal/15 * 100)+"%"}'></div>
    </div>
    <button class="btn btn-secondary" v-on:click="reset()">Återställ övning</button>    <div v-if="antal >= 15" class="alert alert-success" >
      Nu har du klarat ett träningsvarv. <br>
      Lämna in denna länk på google classroom:<br>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <button class="btn btn-primary" v-on:click="copylink()" type="button">Kopiera länk</button>
        </div>
        <input id="correctlink" class="form-control" v-bind:value="handinlink()">
      </div>
    </div>

  </div>
  </body>
  <script src="common.js"></script>
  <script>
  Vue.use(Success);
  Vue.use(SaveAndRestore);
    var app = new Vue({
      el: '#app',
      data: {
        svar: "",
        tosvar: "",
        circuit:{"name":"Lampa","code":"lamp"},
        circuits:[
          {"name":"Lampa","code":"lamp"},
          {"name":"Batteri","code":"bat"},
          {"name":"Spänningskälla","code":"power"},
          {"name":"Resistor","code":"resistor"},
          {"name":"Säkring","code":"fuse"},
          {"name":"Brytare","code":"breaker"},
          {"name":"Ohmmeter","code":"ohm"},
          {"name":"Voltmeter","code":"volt"},
          {"name":"Amperemeter","code":"amp"}
          ],
        antal:-1,
        questions:[],
        poang: 1,
        taskname: "Symboler"
      },
      computed: {
        right: function () {
          return this.tosvar == this.circuit.code;
        }
      },
      methods: {
        check: function () {
          this.tosvar = JSON.parse(JSON.stringify(this.svar));
          if (!this.right){
            alert("Svaret stämmer inte");
            this.poang = this.poang/2;
          }
          if (this.antal < 0){
            this.antal = 0;
          }
        },
        next: function () {
          var thisid = Math.floor(Math.random() * this.circuits.length);
          this.circuit = this.circuits[thisid];
          this.svar = "";
          this.tosvar = JSON.parse(JSON.stringify(this.svar));
          this.antal += this.poang;
          this.poang = 1;
          this.questions.push(thisid);
          this.save();
        }
      }
    })
  </script>
</html>