<!DOCTYPE html>
<html>
  <head>
    <base target="_top">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="jquery-3.3.1.slim.min.js"></script>
    <script src="popper.min.js"></script>
    <script src="bootstrap.min.js"></script>
    <script src="vue.js"></script>
    <title>Elschemasymboler</title>
    <style>
     pre {
       margin:0;
     }
     td {
       font-size: 13px;
     }
    </style>
  </head>
  <body>
  <script src="https://accounts.google.com/gsi/client"></script>
    <div id="g_id_onload"
      data-client_id="895135418381-m1fmm24b5h76upit18r43f8su4pptld9.apps.googleusercontent.com"
      data-context="signin"
      data-auto_select="true"
      data-callback="onSignIn">
    </div>
    <div class="g_id_signin"
      data-type="standard"
      data-shape="rectangular"
      data-theme="outline"
      data-text="signin_with"
      data-size="large"
      data-logo_alignment="left">
    </div>
  <div id="app" class="container" v-if="email">
    <h1>Elschemasymboler</h1>
    <p> I denna övning får du träna på att känna igen de mest <a href="https://sites.google.com/educ.goteborg.se/mekatronik/mekatronik/elektronik/elschema" target="_blank">grundläggande elschemasymbolerna</a>.
    </p>
    <img v-bind:src="'imgs/elsymboler/'+circuit.file">
    <div>
      <br>
      <p>Vilken symbol visas på bilden?</p>
      <div class="input-group mb-3">
        <div class="input-group-preend">
          <span class="input-group-text" >Symbolen är </span>
        </div>
        <select v-model="svar" class="custom-select">
          <option selected>Välj...</option>
          <option v-for="c in circuits" v-bind:value="c.file">{{c.name}}</option>
        </select>
      </div>
      <button v-on:click="check" class="btn btn-primary">Kontrollera svaren.</button><br>
      <div v-if="right" class="alert alert-success">
        Grattis! Du klarade frågan!<br>
        <button class="btn btn-primary" v-on:click="next">Nästa övning</button><br>
        <img class="rounded" width="320" v-bind:src="successImage()">
      </div>
    </div>
    <div class="progress mt-2">
      <div class="progress-bar" role="progressbar" v-bind:style='{"width": (antal/34 * 100)+"%"}'></div>
    </div>
    <button class="btn btn-secondary" v-on:click="reset()">Återställ övning</button>    <div v-if="antal >= 34" class="alert alert-success" >
      Nu har du klarat ett träningsvarv. <br>
      Lämna in denna länk på google classroom:<br>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <button class="btn btn-primary" v-on:click="copylink()" type="button">Kopiera länk</button>
        </div>
        <input id="correctlink" class="form-control" v-bind:value="handinlink()">
      </div>
    </div>

  </div>
  </body>
  <script src="common.js"></script>
  <script>
  Vue.use(Success);
  Vue.use(SaveAndRestore);
    var app = new Vue({
      el: '#app',
      data: {
        svar: "",
        tosvar: "",
        circuits:[
        {"file":"knapp.png","name":"Knapp"},
        {"file":"sensor.png","name":"Sensor allmän symbol"},
        {"file":"batt.png","name":"Batteri"},
        {"file":"lampa.png","name":"Lampa"},
        {"file":"plint.png","name":"Plint"},
        {"file":"spole.png","name":"Reläspole"},
        {"file":"brytare.png","name":"Brytare"},
        {"file":"powersupply.png","name":"Spänningsaggeregat"},
        {"file":"power.png","name":"Spänningskälla"},
        {"file":"vaxlande.png","name":"Växlande brytare"},
        {"file":"fuse.png","name":"Säkring"},
        {"file":"motor.png","name":"Motor"},
        {"file":"resistor.png","name":"Resistor"},
        {"file":"induktiv.png","name":"Induktiv givare"},
        {"file":"capasitivgivare.png","name":"Kapasitiv givare"},
        {"file":"magnetgivare.png","name":"Magnetgivare"},
        {"file":"fotocell.png","name":"Fotocell allmän symbol"},
        {"file":"sandare.png","name":"Fotocell sändare"},
        {"file":"mottagare.png","name":"Fotocell mottagare"},
        {"file":"plc.png","name":"Styrsystem"}
        ],
        circuit:{"file":"batt.png","name":"Batteri"},
        antal:-1,
        questions:[],
        poang: 1,
        taskname: "El-Symboler-plc"
      },
      computed: {
        right: function () {
          return this.tosvar == this.circuit.file;
        }
      },
      methods: {
        check: function () {
          this.tosvar = JSON.parse(JSON.stringify(this.svar));
          if (!this.right){
            alert("Svaret stämmer inte");
            this.poang = this.poang/2;
          }
          if (this.antal < 0){
            this.antal = 0;
          }
        },
        next: function () {
          var thisid = Math.floor(Math.random() * this.circuits.length);
          this.circuit = this.circuits[thisid];
          this.svar = "";
          this.tosvar = JSON.parse(JSON.stringify(this.svar));
          this.antal += this.poang;
          this.poang = 1;
          this.questions.push(thisid);
          this.save();
        }
      }
    })
  </script>
</html>