<!DOCTYPE html>
<html>
  <head>
    <base target="_top">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/elschema.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="bootstrap.min.js"></script>
    <script src="vue.js"></script>
    <title>Toppvärde och effektivvärde</title>
    <style>
     pre {
       margin:0;
     }
    </style>
  </head>
  <body>

  <div id="app" class="container" v-if="email">
    <h1>Toppvärde och effektivvärde</h1>
    <p>
    I denna övning ska du träna dig på att beräka topp och effektivvärde i en växelströmskrets. Läs mer om <a href="https://el.ltgee.se/docs/acv/">Toppvärde och effektivvärde</a>.
    </p>
    <div>
      <img src="imgs/toppeffekt/sinuseffektiv.png">
    </div>
    <div>
      <span v-if="askfor!='U'">Effektivvärdet är {{ prefix(U) }}V, vad är toppvärdet?</span>
      <span v-if="askfor!='ut'">Toppvärdet är {{ prefix(ut) }}V, vad är effektivvärdet?</span> 
      <div class="input-group mb-3">
        <input v-model="svar" type="text" class="form-control" >
        <div class="input-group-append">
          <span class="input-group-text" >V</span>
        </div>
      </div>
      <button v-on:click="check" class="btn btn-primary">Kontrollera svaren.</button><br>
      <div v-if="antal >= 15" class="alert alert-success" >
        Nu har du klarat ett träningsvarv. <br>
        Lämna in denna länk på google classroom:<br>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <button class="btn btn-primary" v-on:click="copylink()" type="button">Kopiera länk</button>
          </div>
          <input id="correctlink" class="form-control" v-bind:value="handinlink()">
        </div>
      </div>
      <div class="alert alert-success" v-if="this.right( this.kontroll, this[this.askfor])" >
        Rätt!<br>
        <button class="btn btn-primary" v-on:click="next"> Nästa övning </button>
        <br>
        <img widht="320" v-bind:src="successImage()">
      </div>
    </div>
    <div class="progress mt-2">
      <div class="progress-bar" v-bind:style='{"width": (antal/15 * 100)+"%"}'></div>
    </div>
    <button class="btn btn-secondary" v-on:click="reset()">Återställ övning</button>
  </div>
  </body>
  <script src="common.js"></script>
  <script>
    Vue.use(Success);
    Vue.use(SaveAndRestore);
    var app = new Vue({
      el: '#app',
      data: {
        taskname: "Effektivvärdetoppvärde",
        U: 10,
        antal: -1,
        svar: "",
        poang: 1,
        kontroll: "",
        raknare:"",
        askfor: "U",
        questions: [],
      },
      computed: {
        ut: function(){
          return this.U*1.4142135623730950488016887242097;
        }
      },
      methods: {
        right: function(a, b){
          a = Number(a.replace(',','.'))
          var max = b*1.05;
          var min = b*0.95;
          return (a < max && a > min);
        },
        prefix: function(count) {
          if (count < 1){
            return Number( count +'e+3').toLocaleString("sv-SE",{maximumFractionDigits:20,maximumSignificantDigits:3}) + " m";
          }
          if (count > 1000){
            return Number( count +'e-3').toLocaleString("sv-SE",{maximumFractionDigits:20,maximumSignificantDigits:3}) + " k";
          }
          return count.toLocaleString("sv-SE",{maximumFractionDigits:20,maximumSignificantDigits:3});
        },
        check: function () {
          this.kontroll = this.svar;
          if(this.right( this.kontroll, this[this.askfor])){
            return
          }
          alert("Svaret är inte rätt");
          this.poang = this.poang/2;
          if (this.antal < 0){
            this.antal = 0;
          }
        },
        next: function () {
          this.antal = this.antal + this.poang;
          this.poang = 1;
          this.svar = "";
          this.kontroll = this.svar;
          this.U = 1+Math.floor(Math.random() * 400);
          options = ["U","ut"];
          id = Math.round(Math.random() * 1)
          this.askfor = options[id];
          this.questions.push(this.askfor);
          this.save();
        }
      }
    })
  </script>
  
</html>





