<!DOCTYPE html>
<html>
  <head>
    <base target="_top">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="895135418381-m1fmm24b5h76upit18r43f8su4pptld9.apps.googleusercontent.com">
    <script src="jquery-3.3.1.slim.min.js"></script>
    <script src="popper.min.js"></script>
    <script src="bootstrap.min.js"></script>
    <script src="vue.js"></script>
    <title>Tryck och cylinder-kraft</title>
    <style>
    table.logic {
      border-collapse:true;
    }
    
    table.logic td {
      padding: 0px;
    }
    
    table.logic img {
      width: 80px;
    }   
    </style>
  </head>
  <body>
  <div class="g-signin2" data-onsuccess="onSignIn"></div>
  <div id="app" class="container">
    <h1>Träning - Tryck och cylinder-kraft</h1>
    <p>
    I denna övning ska du lära dig hur stark en cylinder blir, beroende på vilken bottenarea och vilket lufttryck som cylindern får.
    Större area på cylindern ger mer kraft, större tryck ger också mer kraft och tvärt om.
    Det är vikigt att veta hur detta fungerar eftersom pneumatiska cylindrar används i många olika ställen i samhället.
    <a target="_blank" href="https://sites.google.com/educ.goteborg.se/mekatronik/mekatroniska-system/aktuator/pneumatik/cylinderkraft">cylinderkraft</a>.
    </p>
    <div v-if="antal >= 15" class="alert alert-success" >
      Nu har du klarat ett träningsvarv. <br>
      Lämna in denna länk på google classroom:<br>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <button class="btn btn-primary" v-on:click="copylink()" type="button">Kopiera länk</button>
        </div>
        <input id="correctlink" class="form-control" v-bind:value="handinlink()">
      </div>
    </div>
    <div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">På bilden finns det en luftcylinder som har en <b style="color:green;">kraft</b> en yta som luften trycker på och två (<b style="color:red;">fram</b> och <b style="color:orange;">bak</b>) kammare med olika tryck.</h5>
          <img style="height: 180px;margin-left:auto;margin-right:auto;display: block;" src="imgs\cylinderkraft\cylinderkraft.png">
          <p v-if="askfor=='Kraft'">Om cylindern har en area på {{area}}mm&#178; och trycket är i den bakre kammaren är {{tryck}}MPa hur stor kraft blir det då?</p>
          <p v-if="askfor=='Area'">Om cylindern behöver klara att trycka med {{Math.round(area*tryck)}}N och trycket är i den bakre kammaren är {{tryck}}MPa hur stor area på cylindern behvös då?</p>
          <p v-if="askfor=='Tryck'">Om cylindern har en area på {{area}}mm&#178; behöver klara att trycka med {{area*tryck}}N hur stort måste då trycket vara?</p>
            <div class="input-group mb-3">
                <input v-model="svar" type="text" class="form-control" >
                <div class="input-group-append">
                  <span class="input-group-text" >{{unit[askfor]}}</span>
                </div>
             </div>  
             <button v-on:click="check" class="btn btn-primary"> Kontrollera svaret </button>
        </div>
      </div>
      <div v-if="right" class="alert alert-success" >
        Rätt!<br>
        <button class="btn btn-primary" v-on:click="next"> Nästa övning </button>
        <br>
        <img widht="320" v-bind:src="successImage()">
      </div>
    </div>
    <div class="progress mt-2">
      <div class="progress-bar" role="progressbar" v-bind:style='{"width": (antal/15 * 100)+"%"}'></div>
    </div>
    <button class="btn btn-secondary" v-on:click="reset()">Återställ övning</button>
  </div>
  </body>
  <script src="common.js"></script>
  <script>
    Vue.use(Success);
    Vue.use(SaveAndRestore);
    var app = new Vue({
      el: '#app',
      data: {
        taskname: "tryckcylinder",
        svar: "",
        antal: -1,
        kontroll: "",
        poang: 1,
        questions: [],
        askfor: "Kraft",
        tryck: 1,
        area: 1,
        unit: {"Kraft":"N","Area":"mm²","Tryck":"MPa"}
        },
      computed: {
        right: function(){
          svar = this.kontroll.trim().replace(",",".");
          if(this.askfor=="Tryck" && parseFloat(svar) == this.tryck){
            return true
          } else if (this.askfor=="Kraft" && parseInt(svar) == Math.round(this.tryck * this.area)){
            return true  
          } else if (this.askfor=="Area" && parseInt(svar) == this.area){
            return true   
          }
          return false;
        }
      },
      created: function () {
        if(window.localStorage[this.taskname]){
          var myApp = this;
          var stored = JSON.parse(window.localStorage[this.taskname]);
          Object.keys(stored).forEach(function (field){
            myApp[field] = stored[field];
          });
        }
        else
        {
          this.next();
        }
      },
      methods: {
        check: function () {
          this.kontroll = this.svar;
          if(this.right){
            return
          }
          alert("Svaret är inte rätt");
          this.poang=this.poang/2;
        },
        next: function () {
          askforlist = ["Kraft","Area","Tryck"]; 
          this.askfor = askforlist[Math.round(Math.random()*2)];
          this.tryck = Math.round(1+Math.random()*6)/10;
          this.area = 100+Math.round(Math.random()*10)*100
          this.svar = "";
          this.kontroll = "";
          this.antal += this.poang;
          this.poang = 1;
          this.questions.push(this.askfor);
          this.save();
        }
      }
    })
  </script>
  <a href="#" onclick="app.email='guest'">Gästinloggning</a>
</html>

